.sidebar{
	width: 100px;
	height: 100vh;
	box-shadow: 5px 1px 6px 2px #0f05058a;
	float: left;
    background: #000;
    border-right: 1px solid white;
}
.logo h1{
	padding: 20px 27px;
	background-color: #0c0c0c;
	font-size: 55px;
	color: white;
}
.menu{
	text-align: center;
}
.menu ul li{
	padding: 17px 0px;
	border-top: 1px solid #f8f5f5;
}
.menu ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.fa{
	display: block!important;
	font-size: 25px!important;
	color: #ffffff!important;
	padding-bottom: 5px;
}
#contact{
    border-bottom: 1px solid #f8f5f5;

}
.clearfix{
	clear: both;
}